/*--------------------*/
/**      RESET        */
/*--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-size: 16px;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------*/
/**   CUSTOM PROPS    */
/*--------------------*/
:root {
  /* COLORS */
  --brand-color-primary-main: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --brand-color-primary-shade: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);

  --brand-color-secondary-main: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --brand-color-secondary-shade: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);

  --color-black-main: #13183f;
  --color-black-shade: #666ca3;

  --color-gray: #83869a;
  --color-white: #ffffff;

  --color-pink-main: #f74780;
  --color-pink-shade: #ffa7c3;

  /* FONT FAMILY */
  --ff-jakarta: 'Plus Jakarta Sans';

  /* FONT SIZE */
  --fs-900: 3.5rem;
  --fs-800: 2.5rem;
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* LINE HEIGHT */
  --lh-70: 4.375rem;
  --lh-51: 3.1875rem;
  --lh-40: 2.5rem;
  --lh-28: 1.75rem;

  /* BREAKPOINTS */
  --bp-sm: 23.4375rem;
  --bp-md: 48rem;
  --bp-lg: 90rem;
}

@media only screen and (min-width: 48em) {
  :root {
    -fs-400: 1.125rem;
  }
}

@media only screen and (min-width: 90em) {
  :root {
    --fs-800: 3.5rem;
  }
}

/*--------------------*/
/**    UTILITIES      */
/*--------------------*/
/* container */
.container {
  padding: 0 1.25rem;
}

/* FIXME: Re-factor how these utility classes and custom properties */
/* headings */
.heading-sm {
  color: var(--color-black-main);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: var(--lh-28);
}

.heading-md {
  color: var(--color-black-main);
  font-size: var(--fs-700);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-40);
}

.heading-lg {
  color: var(--color-black-main);
  font-size: var(--fs-800);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-51);
}

.heading-xl {
  color: var(--color-black-main);
  font-size: var(--fs-900);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-70);
}

/* text */
.body-md {
  color: var(--color-gray);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  line-height: var(--lh-28);
}

.body-sm {
  color: var(--color-gray);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  line-height: var(--lh-28);
}

/* button */
.btn {
  border: none;
  border-radius: 28px;
  color: var(--color-white);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  height: 3rem;
  transition: all 0.2s;
  width: 8.75rem;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(2px);
}

@media only screen and (min-width: 48em) {
  .btn {
    font-size: var(--fs-500);
  }
}

/*--------------------*/
/**      GENERAL      */
/*--------------------*/
body {
  /* FIXME: Invalid - fix this */
  background: to bottom, white,
    linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);

  font-family: var(--ff-jakarta), sans-serif;
}

/*--------------------*/
/**       GRID        */
/*--------------------*/
#root {
  display: grid;
  grid-template-rows: max-content 0 1fr 0;
  grid-template-columns: 20px 1fr 1fr 20px;
  justify-content: center;

  grid-template-areas:
    ' . header header .'
    '. . . .'
    ' . courses courses .'
    '. . . .'
    ' footer footer footer footer';

  margin: 1rem auto 0 auto;
  max-width: var(--bp-sm);
  overflow: hidden;
}

@media only screen and (min-width: 48em) {
  #root {
    max-width: var(--bp-md);
    grid-template-rows: max-content 15rem 1fr 2rem;
  }
}

@media only screen and (min-width: 90em) {
  #root {
    grid-template-rows: max-content 25rem 1fr 2rem;

    max-width: var(--bp-lg);
  }
}

/*--------------------*/
/**      HEADER       */
/*--------------------*/
.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content;
  row-gap: 2rem;

  /* margin: 0 auto;
  max-width: var(--bp-sm); */
}

@media only screen and (min-width: 48em) {
  .header {
    /* max-width: var(--bp-md); */
    row-gap: 5rem;
  }
}

@media only screen and (min-width: 90em) {
  .header {
    /* max-width: 73rem; */
    row-gap: 10rem;
  }
}

.header__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: var(--color-black-main);
  font-size: 1.75rem;
  font-weight: var(--fw-extra-bold);
  line-height: 2.205rem;
}

.btn--black {
  background-color: var(--color-black-main);
  z-index: 10;
}

@media only screen and (min-width: 90em) {
  .btn--black {
    margin-right: 5rem;
  }
}

.btn--black:hover {
  background-color: var(--color-black-shade);
}

@media only screen and (min-width: 90em) {
  .btn--black {
    height: 3.5rem;
    width: 10.4375rem;
  }
}

/*--------------------*/
/**       HERO        */
/*--------------------*/
.hero {
  display: grid;
  grid-template-columns: minmax(min-content, var(--bp-sm));
  grid-template-rows: max-content max-content;

  position: relative;
}

@media only screen and (min-width: 48em) {
  .hero {
    grid-template-columns: minmax(28.8125rem, 50%) max-content;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn--primary {
  background-image: var(--brand-color-primary-main);
  font-weight: 700;
  line-height: 26px;
  height: 3.5rem;
  width: 10.4375rem;
}

.btn--primary:hover {
  background-image: var(--brand-color-primary-shade);
}

@media only screen and (min-width: 48em) {
  .hero__banner {
    position: absolute;
    top: -14.8125rem;
    right: -20rem;
  }
}

@media only screen and (min-width: 90em) {
  .hero__banner {
    top: -23.812rem;
    right: -24rem;
  }
}

/*--------------------*/
/**     COURSES       */
/*--------------------*/
.main {
  grid-area: courses;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-content: stretch;
  gap: 3rem;
}

@media only screen and (min-width: 48em) {
  .courses {
    grid-auto-rows: 16.1875rem;
  }
}

@media only screen and (min-width: 90em) {
  .courses {
    grid-template-columns: repeat(auto-fit, minmax(19.875rem, 1fr));
  }
}

.box {
  border-radius: 10px;
}

@media only screen and (min-width: 90em) {
  .box {
    border-radius: 15px;
  }
}

.box--primary {
  background-image: var(--brand-color-primary-main);
  color: var(--color-white);
  padding: 1.5rem 1.8125rem 2rem 1.75rem;
}

@media only screen and (min-width: 48em) {
  .box--primary {
    padding: 4rem 2rem 8.625rem 2rem;
  }
}

@media only screen and (min-width: 90em) {
  .box--primary {
    font-size: var(--fs-700);
    font-weight: var(--fw-extra-bold);
    line-height: var(--lh-40);
  }
}

.course {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  position: relative;
}

@media only screen and (min-width: 48em) {
  .course {
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  }
}

@media only screen and (min-width: 90em) {
  .course {
  }
}

.course__icon {
  position: absolute;
  top: -29px;
  left: 27px;
}

.course__title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;

  color: #13183f;
}

.course__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  color: #83869a;
}

.course__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  color: #f74780;

  transition: all 0.2s;
}

.course__link:hover {
  color: var(--color-pink-shade);
}

/*--------------------*/
/**      FOOTER       */
/*--------------------*/
.footer {
  grid-area: footer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-black-main);
  color: var(--color-white);
  padding: 1.5rem;
}

.footer__logo {
  color: var(--color-white);
  font-size: 1.75rem;
  font-weight: var(--fw-extra-bold);
  line-height: 2.205rem;
}

.btn--secondary {
  /* FIXME: Seems like I made a mistake with the custom prop */
  background-image: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border-radius: 28px;
}

.btn--secondary:hover {
  background-image: var(--brand-color-secondary-shade);
}
