/*--------------------*/
/**      RESET        */
/*--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-size: 16px;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------*/
/**   CUSTOM PROPS    */
/*--------------------*/
:root {
  /* COLORS */
  --brand-color-primary-main: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --brand-color-primary-shade: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);

  --brand-color-secondary-main: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --brand-color-secondary-shade: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);

  --color-black-main: #13183f;
  --color-black-shade: #666ca3;

  --color-gray: #83869a;
  --color-white: #ffffff;

  --color-pink-main: #f74780;
  --color-pink-shade: #ffa7c3;

  /* FONT FAMILY */
  --ff-jakarta: 'Plus Jakarta Sans';

  /* FONT SIZE */
  --fs-900: 3.5rem;
  --fs-800: 2.5rem;
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* LINE HEIGHT */
  --lh-70: 4.375rem;
  --lh-51: 3.1875rem;
  --lh-40: 2.5rem;
  --lh-28: 1.75rem;
}

/*--------------------*/
/**    UTILITIES      */
/*--------------------*/
/* container */
.container {
  padding: 0 1.25rem;
}

/* headings */
.heading-sm {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: var(--lh-28);
}

.heading-md {
  font-size: var(--fs-700);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-40);
}

.heading-lg {
  font-size: var(--fs-800);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-51);
}

.heading-xl {
  font-size: var(--fs-900);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-70);
}

/* text */
.body-md {
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  line-height: var(--lh-28);
}

.body-sm {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  line-height: var(--lh-28);
}

/* button */
.btn {
  border: none;
  border-radius: 28px;
  color: var(--color-white);
  font-family: inherit;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  height: 3rem;
  transition: all 0.2s;
  width: 8.75rem;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(2px);
}

/*--------------------*/
/**      GENERAL      */
/*--------------------*/
body {
  font-family: var(--ff-jakarta), sans-serif;
  margin: 0 auto;
  max-width: 90rem;
}

/*--------------------*/
/**      GRID         */
/*--------------------*/

#root {
  display: grid;
  grid-template-rows: 1fr 1fr 10%;
  grid-template-columns: 23.5rem;
  justify-content: center;

  grid-template-areas:
    'header'
    'courses'
    'footer';

  margin-top: 2rem;
}

@media only screen and (min-width: 48em) {
  #root {
    grid-template-columns: 48em;
  }
}

@media only screen and (min-width: 90em) {
  #root {
    grid-template-columns: 90em;
  }
}

/*--------------------*/
/**      HEADER       */
/*--------------------*/
.header {
  grid-area: header;

  display: grid;
  grid-template-rows: min-content max-content;
  grid-template-columns: 0.625rem 2fr 2fr 0.625rem;
  row-gap: 2rem;
}

.header__logo {
  grid-row: 1 / 1;
  grid-column: 2 / 3;

  color: var(--color-black-main);
  font-size: 1.75rem;
  font-weight: var(--fw-extra-bold);
  line-height: 2.205rem;
}

.btn--black {
  grid-row: 1 / 1;
  grid-column: 3 / 4;
  justify-self: end;

  background-color: var(--color-black-main);
}

.btn--black:hover {
  background-color: var(--color-black-shade);
}

.btn--primary {
  background-image: var(--brand-color-primary-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  height: 3.5rem;
  width: 10.4375rem;
}

.btn--primary:hover {
  background-image: var(--brand-color-primary-shade);
}

/*--------------------*/
/**       HERO        */
/*--------------------*/
.hero {
  grid-row: 2;
  grid-column: 2 / 4;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__banner {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

/*--------------------*/
/**     COURSES       */
/*--------------------*/
.courses {
  grid-area: courses;
}

/*--------------------*/
/**      FOOTER       */
/*--------------------*/
.footer {
  grid-area: footer;
}
